In [2]:
import os
import pathlib

ROOT = pathlib.Path().resolve().parent

os.chdir(ROOT)

In [3]:
import pandas as pd
import numpy as np

# First dataset

In [18]:
df_1 = pd.read_csv('data/horoscopes.csv',on_bad_lines="skip", sep="|", header=None)

df_1.columns = ["index", "text", "date","sign"]

df_1 = df_1.iloc[:,1:]

                                                    text        date    sign
0      You’re not the sort to play safe and even if y...  12-01-2013   aries
1      There is no such thing as something for nothin...  12-02-2013   aries
2      As the new moon falls in one of the more adven...  12-03-2013   aries
3      You will hear something amazing today but can ...  12-04-2013   aries
4      A friend or colleague you have not seen for a ...  12-05-2013   aries
...                                                  ...         ...     ...
12957  You may not like it when things change without...  12-08-2016  pisces
12958  If a friend or colleague gives you a tip of so...  12-09-2016  pisces
12959  The Sun joins forces with Saturn in the career...  12-10-2016  pisces
12960  Why are you so worried Pisces? What could go w...  12-11-2016  pisces
12961  The Sun in the career area of your chart, link...  12-12-2016  pisces

[12962 rows x 3 columns]

In [28]:
df_1['category'] = 'general'

In [22]:
# Second
df_2 = pd.read_csv('data/horoscope_saved.csv')
df_2

,sign,category,date,horoscope
0,aries,general,20200617,"There's a great day ahead of you, Aries. You'l..."
1,aries,general,20200618,People will understand and appreciate your des...
2,aries,general,20200619,You are very interested in technological break...
3,aries,general,20200620,Stress from overwork could have you feeling we...
4,aries,general,20200621,This is a good day to stand up for yourself an...
...,...,...,...,...
21954,pisces,birthday,20210612,Celebrate in style on your birthday in prepara...
21955,pisces,birthday,20210613,Imagine your life as if it was exactly the way...
21956,pisces,birthday,20210614,"Fun, playfulness, and humor are easy to manife..."
21957,pisces,birthday,20210615,"Your birthday brings you a fresh start, as you..."
21958,pisces,birthday,20210616,You will probably enjoy being the center of at...

In [25]:
df_2['date'] = df_2.date.apply(lambda x: str(x))

df_2['date'] = df_2.date.apply(lambda x: f"{x[6:]}-{x[4:6]}-{x[0:4]}")

,sign,category,date,horoscope
0,aries,general,17-06-2020,"There's a great day ahead of you, Aries. You'l..."
1,aries,general,18-06-2020,People will understand and appreciate your des...
2,aries,general,19-06-2020,You are very interested in technological break...
3,aries,general,20-06-2020,Stress from overwork could have you feeling we...
4,aries,general,21-06-2020,This is a good day to stand up for yourself an...
...,...,...,...,...
21954,pisces,birthday,12-06-2021,Celebrate in style on your birthday in prepara...
21955,pisces,birthday,13-06-2021,Imagine your life as if it was exactly the way...
21956,pisces,birthday,14-06-2021,"Fun, playfulness, and humor are easy to manife..."
21957,pisces,birthday,15-06-2021,"Your birthday brings you a fresh start, as you..."
21958,pisces,birthday,16-06-2021,You will probably enjoy being the center of at...

In [30]:
df_2.columns = ['sign', 'category','date','text']

df_2

,sign,category,date,text
0,aries,general,17-06-2020,"There's a great day ahead of you, Aries. You'l..."
1,aries,general,18-06-2020,People will understand and appreciate your des...
2,aries,general,19-06-2020,You are very interested in technological break...
3,aries,general,20-06-2020,Stress from overwork could have you feeling we...
4,aries,general,21-06-2020,This is a good day to stand up for yourself an...
...,...,...,...,...
21954,pisces,birthday,12-06-2021,Celebrate in style on your birthday in prepara...
21955,pisces,birthday,13-06-2021,Imagine your life as if it was exactly the way...
21956,pisces,birthday,14-06-2021,"Fun, playfulness, and humor are easy to manife..."
21957,pisces,birthday,15-06-2021,"Your birthday brings you a fresh start, as you..."
21958,pisces,birthday,16-06-2021,You will probably enjoy being the center of at...

In [31]:
df = pd.concat([df_1,df_2])

df

,text,date,sign,category
0,You’re not the sort to play safe and even if y...,12-01-2013,aries,general
1,There is no such thing as something for nothin...,12-02-2013,aries,general
2,As the new moon falls in one of the more adven...,12-03-2013,aries,general
3,You will hear something amazing today but can ...,12-04-2013,aries,general
4,A friend or colleague you have not seen for a ...,12-05-2013,aries,general
...,...,...,...,...
21954,Celebrate in style on your birthday in prepara...,12-06-2021,pisces,birthday
21955,Imagine your life as if it was exactly the way...,13-06-2021,pisces,birthday
21956,"Fun, playfulness, and humor are easy to manife...",14-06-2021,pisces,birthday
21957,"Your birthday brings you a fresh start, as you...",15-06-2021,pisces,birthday
21958,You will probably enjoy being the center of at...,16-06-2021,pisces,birthday

In [39]:
step = 2000
for i in range(0, len(df), step):

    df['text'][i:i+step].to_excel(
    f"data/splitted/horoscopes_{i}_{i+step}.xlsx",
    index=False
)

In [35]:
# Saving data to Excel
df['text'].to_excel(
    "data/horoscopes.xlsx",
    index=False
)

In [36]:
df.to_excel("data/horoscopes_full.xlsx")

In [44]:
# Open translated data_parts

['/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_0_2000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_10000_12000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_12000_14000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_14000_16000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_16000_18000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_18000_20000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_20000_22000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_2000_4000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_22000_24000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_24000_26000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_26000_28000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_28000_30000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_30000_32000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_32000_34000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_34000_36000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_4000_6000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_6000_8000.xlsx',
 '/Users/andrey/PycharmProjects/horoscope-bot/data/translatted/horoscopes_8000_10000.xlsx']

In [53]:
filenames = [
"horoscopes_0_2000.xlsx",
"horoscopes_2000_4000.xlsx",
"horoscopes_4000_6000.xlsx",
"horoscopes_6000_8000.xlsx",
"horoscopes_8000_10000.xlsx",
"horoscopes_10000_12000.xlsx",
"horoscopes_12000_14000.xlsx",
"horoscopes_14000_16000.xlsx",
"horoscopes_16000_18000.xlsx",
"horoscopes_18000_20000.xlsx",
"horoscopes_20000_22000.xlsx",
"horoscopes_22000_24000.xlsx",
"horoscopes_24000_26000.xlsx",
"horoscopes_26000_28000.xlsx",
"horoscopes_28000_30000.xlsx",
"horoscopes_30000_32000.xlsx",
'horoscopes_32000_34000.xlsx',
"horoscopes_34000_36000.xlsx",
]

filenames = ["data/translatted/" + fn for fn in filenames]

In [54]:
text_df = pd.DataFrame()

for fn in filenames:
    temp = pd.read_excel(fn)
    text_df = pd.concat([text_df, temp])

In [55]:
df

,text,date,sign,category
0,You’re not the sort to play safe and even if y...,12-01-2013,aries,general
1,There is no such thing as something for nothin...,12-02-2013,aries,general
2,As the new moon falls in one of the more adven...,12-03-2013,aries,general
3,You will hear something amazing today but can ...,12-04-2013,aries,general
4,A friend or colleague you have not seen for a ...,12-05-2013,aries,general
...,...,...,...,...
21954,Celebrate in style on your birthday in prepara...,12-06-2021,pisces,birthday
21955,Imagine your life as if it was exactly the way...,13-06-2021,pisces,birthday
21956,"Fun, playfulness, and humor are easy to manife...",14-06-2021,pisces,birthday
21957,"Your birthday brings you a fresh start, as you...",15-06-2021,pisces,birthday
21958,You will probably enjoy being the center of at...,16-06-2021,pisces,birthday

In [57]:
df['text_ru'] = text_df['текст'].values

In [59]:
df.to_csv('data/horoscopes_full_google.xlsx', index=False)