In [1]:
import os
import pathlib

ROOT = pathlib.Path().resolve().parent

os.chdir(ROOT)

In [2]:
import pandas as pd
import numpy as np

# First dataset

In [3]:
df_1 = pd.read_csv('data/horoscopes.csv',on_bad_lines="skip", sep="|", header=None)

df_1.columns = ["index", "text", "date","sign"]

df_1 = df_1.iloc[:,1:]

In [4]:
df_1['category'] = 'general'

In [5]:
# Second
df_2 = pd.read_csv('data/horoscope_saved.csv')
df_2

,sign,category,date,horoscope
0,aries,general,20200617,"There's a great day ahead of you, Aries. You'l..."
1,aries,general,20200618,People will understand and appreciate your des...
2,aries,general,20200619,You are very interested in technological break...
3,aries,general,20200620,Stress from overwork could have you feeling we...
4,aries,general,20200621,This is a good day to stand up for yourself an...
...,...,...,...,...
21954,pisces,birthday,20210612,Celebrate in style on your birthday in prepara...
21955,pisces,birthday,20210613,Imagine your life as if it was exactly the way...
21956,pisces,birthday,20210614,"Fun, playfulness, and humor are easy to manife..."
21957,pisces,birthday,20210615,"Your birthday brings you a fresh start, as you..."
21958,pisces,birthday,20210616,You will probably enjoy being the center of at...

In [6]:
df_2['date'] = df_2.date.apply(lambda x: str(x))

df_2['date'] = df_2.date.apply(lambda x: f"{x[6:]}-{x[4:6]}-{x[0:4]}")

In [7]:
df_2.columns = ['sign', 'category','date','text']

df_2

,sign,category,date,text
0,aries,general,17-06-2020,"There's a great day ahead of you, Aries. You'l..."
1,aries,general,18-06-2020,People will understand and appreciate your des...
2,aries,general,19-06-2020,You are very interested in technological break...
3,aries,general,20-06-2020,Stress from overwork could have you feeling we...
4,aries,general,21-06-2020,This is a good day to stand up for yourself an...
...,...,...,...,...
21954,pisces,birthday,12-06-2021,Celebrate in style on your birthday in prepara...
21955,pisces,birthday,13-06-2021,Imagine your life as if it was exactly the way...
21956,pisces,birthday,14-06-2021,"Fun, playfulness, and humor are easy to manife..."
21957,pisces,birthday,15-06-2021,"Your birthday brings you a fresh start, as you..."
21958,pisces,birthday,16-06-2021,You will probably enjoy being the center of at...

In [8]:
df = pd.concat([df_1,df_2])

df

,text,date,sign,category
0,You’re not the sort to play safe and even if y...,12-01-2013,aries,general
1,There is no such thing as something for nothin...,12-02-2013,aries,general
2,As the new moon falls in one of the more adven...,12-03-2013,aries,general
3,You will hear something amazing today but can ...,12-04-2013,aries,general
4,A friend or colleague you have not seen for a ...,12-05-2013,aries,general
...,...,...,...,...
21954,Celebrate in style on your birthday in prepara...,12-06-2021,pisces,birthday
21955,Imagine your life as if it was exactly the way...,13-06-2021,pisces,birthday
21956,"Fun, playfulness, and humor are easy to manife...",14-06-2021,pisces,birthday
21957,"Your birthday brings you a fresh start, as you...",15-06-2021,pisces,birthday
21958,You will probably enjoy being the center of at...,16-06-2021,pisces,birthday

In [9]:
# Save to docs

In [10]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34905 entries, 0 to 21958
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      34905 non-null  object
 1   date      34905 non-null  object
 2   sign      34905 non-null  object
 3   category  34905 non-null  object
dtypes: object(4)
memory usage: 1.3+ MB

In [18]:
texts = list(df['text'].values)

signs = [s.capitalize() for s in df['sign'].unique()]

def prepare_text(t):

    for s in signs:
        if s in signs:
            t = t.replace(s, 'friend')
    return t

prepped_texts = []

for i, text in enumerate(texts):

    prepared = f"{i}. " + prepare_text(text)
    prepped_texts.append(prepared)

In [19]:
from docx import Document

In [20]:

#len(prepped_texts)
print(i)

34904

In [21]:
cnt = 0
step = 1000

for i in range(0, len(prepped_texts), step):

    document = Document()
    concated_text = "\n".join(prepped_texts[i:i + step])

    document.add_paragraph(concated_text)

    document.save(f'data/ya_eng/{cnt}.docx')
    cnt+=1

In [22]:
my_texts = prepped_texts[:3]
print(my_texts)

['0. You’re not the sort to play safe and even if you have been a bit more cautious than usual in recent weeks you will more than make up for it over the next few days. Plan your new adventure today and start working on it tomorrow.', '1. There is no such thing as something for nothing and if you do not quite believe that now you will believe it by the end of the day. If you lose something valuable accept it as the price you must pay to learn this important lesson.', '2. As the new moon falls in one of the more adventurous areas of your chart you will take the kind of risk you might usually steer clear of. No doubt it will surprise a few people, including yourself, when it pays off handsomely.']

In [ ]:
# Save to

In [25]:
# Open translated data_parts

['data/yandex_ru/11.docx',
 'data/yandex_ru/1.docx',
 'data/yandex_ru/31.docx',
 'data/yandex_ru/27.docx',
 'data/yandex_ru/26.docx',
 'data/yandex_ru/30.docx',
 'data/yandex_ru/0.docx',
 'data/yandex_ru/10.docx',
 'data/yandex_ru/21.docx',
 'data/yandex_ru/17.docx',
 'data/yandex_ru/7.docx',
 'data/yandex_ru/6.docx',
 'data/yandex_ru/16.docx',
 'data/yandex_ru/20.docx',
 'data/yandex_ru/23.docx',
 'data/yandex_ru/9.docx',
 'data/yandex_ru/19.docx',
 'data/yandex_ru/5.docx',
 'data/yandex_ru/15.docx',
 'data/yandex_ru/14.docx',
 'data/yandex_ru/4.docx',
 'data/yandex_ru/18.docx',
 'data/yandex_ru/8.docx',
 'data/yandex_ru/34.docx',
 'data/yandex_ru/22.docx',
 'data/yandex_ru/29.docx',
 'data/yandex_ru/3.docx',
 'data/yandex_ru/13.docx',
 'data/yandex_ru/25.docx',
 'data/yandex_ru/33.docx',
 'data/yandex_ru/32.docx',
 'data/yandex_ru/24.docx',
 'data/yandex_ru/12.docx',
 'data/yandex_ru/2.docx',
 'data/yandex_ru/28.docx']

In [43]:
# Загрузка текстов
import glob
from docx import Document

# Утилита glob позволяет нам найти все файлы соответсвующие определенному паттерну
filenames = glob.glob('data/yandex_ru/*.docx')

def convert_doc_to_string(fn):
    """Функция чтения документа и преобразования его в список строк"""
    doc = Document(fn)
    # Здесь мы читаем каждый параграф (он размечается отдельно в Word)
    raw_text = doc.paragraphs[0].text

    # Разделяем абзацы
    list_of_texts = raw_text.split('\n') # выделяем каждый новый абзац

    return list_of_texts

texts = []

# Загружаем из разных документов в один массив
for fn in filenames:

    part = convert_doc_to_string(fn)

    # Добавляем в общий список
    texts.extend(part)

print(len(texts))

34905

In [68]:
import re

def index_texts(t):

    splits = t.split()

    return int(re.sub(r'[^0-9]','', splits[0])), " ".join(splits[1:])

indexed = [index_texts(t) for t in texts]

indexed = sorted(indexed, key=lambda x: x[0])

In [70]:
text_df = pd.DataFrame(data=indexed, columns=['idx', 'text_ru'])
text_df

         idx                                            text_ru
0          0  Вы не из тех, кто перестраховывается, и даже е...
1          1  Не существует такого понятия, как "что-то даро...
2          2  Поскольку новолуние приходится на одну из наиб...
3          3  Сегодня вы услышите что-то потрясающее, но мож...
4          4  Друг или коллега, которого вы давно не видели,...
...      ...                                                ...
34900  34900  Отпразднуйте свой день рождения со вкусом, гот...
34901  34901  Представьте свою жизнь так, как если бы она бы...
34902  34902  Веселье, игривость и юмор легко проявить в это...
34903  34903  Ваш день рождения - это новый старт, когда вы ...
34904  34904  Вероятно, вам понравится быть в центре внимани...

[34905 rows x 2 columns]

In [71]:
df['text_ru'] = text_df['text_ru'].values

/var/folders/s5/4r_7wwf925g2bnv4060z0x400000gn/T/ipykernel_52750/250414474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text_ru'] = text_df['text_ru'].values

In [73]:
df.to_csv('data/horoscopes_full_yandex.csv', index=False)