In [1]:
import os
import pathlib

ROOT = pathlib.Path().resolve().parent

os.chdir(ROOT)

In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('data/horoscopes_full_google.xlsx')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34921 entries, 0 to 34920
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      34905 non-null  object
 1   date      34921 non-null  object
 2   sign      34921 non-null  object
 3   category  34921 non-null  object
 4   text_ru   34905 non-null  object
dtypes: object(5)
memory usage: 1.3+ MB

# Sign

In [11]:
df.sign.value_counts()

sign
leo            2915
scorpio        2914
gemini         2913
libra          2912
pisces         2911
taurus         2910
sagittarius    2910
virgo          2909
capricorn      2909
aquarius       2908
aries          2906
cancer         2904
Name: count, dtype: int64

In [12]:
eng_sign = list(df.sign.unique())

eng_sign

['aries',
 'taurus',
 'gemini',
 'cancer',
 'leo',
 'virgo',
 'libra',
 'scorpio',
 'sagittarius',
 'capricorn',
 'aquarius',
 'pisces']

In [13]:
ru_sign = ["овен",
"телец",
"близнецы",
"рак",
"лев",
"дева",
"весы",
"скорпион",
"стрелец",
"козерог",
"водолей",
"рыбы"]

# делаем маппер для замены
sign_mapper = dict(zip(eng_sign, ru_sign))

df['sing_ru'] = df['sign'].map(sign_mapper)

df.sample(10)

,text,date,sign,category,text_ru,sing_ru
20760,The cosmic atmosphere may make this is an amaz...,07-10-2020,leo,love,Космическая атмосфера может сделать этот день ...,лев
34845,"Yes, these are complicated times. You're being...",02-04-2021,pisces,birthday,"Да, времена сложные. Вы более успешны и достиг...",рыбы
12083,Sometimes it is better to back off from a figh...,06-25-2014,pisces,general,"Иногда лучше отказаться от борьбы, и сегодня,...",рыбы
22277,You're apt to be spurred into action by strong...,29-11-2020,virgo,general,Вас склонны подталкивать к действию сильные с...,дева
14454,"Nothing can stop you this year, so aim high! Y...",15-07-2020,aries,birthday,"В этом году вас ничто не остановит, так что ст...",овен
30224,Work to find the pitfalls in your current plan...,16-08-2020,capricorn,career,Постарайтесь найти подводные камни в вашем те...,козерог
11154,There is a job to be done and you know that yo...,12-01-2014,aquarius,general,"Есть работа, которую нужно выполнить, и вы зна...",водолей
18511,"Make some plans for recreation, Cancer. Having...",15-08-2020,cancer,general,"Составьте планы на отдых, Рак. Наличие чего-то...",рак
16511,It's your time for all the little things to cl...,27-02-2021,taurus,birthday,"Это ваше время, чтобы все мелочи щелкнули и по...",телец
14619,Some old habits will surprise you and serve yo...,27-12-2020,aries,birthday,Некоторые старые привычки удивят вас и сослужа...,овен

# Category

In [14]:
df.category.value_counts()

category
general     17353
love         4392
career       4392
wellness     4392
birthday     4392
Name: count, dtype: int64

In [22]:
category_mapper = {
    "general": "общее",
"love": "любовь",
"career": "карьера",
"wellness": "здоровье",
"birthday": "др"
}

df['category_ru'] = df['category'].map(category_mapper)

In [23]:
df.category_ru.value_counts()

category_ru
общее       17353
любовь       4392
карьера      4392
здоровье     4392
др           4392
Name: count, dtype: int64

In [42]:
# Извлечение характеристик даты

df['date'] = pd.to_datetime(df['date'], format="%d-%M-%Y")


df['month'] = df['date'].dt.month
# День месяца
df['day'] = df['date'].dt.day

# День недели
df['weekday'] = df['date'].dt.weekday

In [43]:
df

,text,date,sign,category,text_ru,sing_ru,category_ru,month_day,week_day,month,day,weekday
0,You’re not the sort to play safe and even if y...,2013-01-12,aries,general,"Вы не из тех, кто перестраховывается, и даже ...",овен,общее,1,5,1,12,5
1,There is no such thing as something for nothin...,2013-01-12,aries,general,"Не бывает чего-то даром, и если вы не совсем ...",овен,общее,1,5,1,12,5
2,As the new moon falls in one of the more adven...,2013-01-12,aries,general,Когда новолуние попадает в одну из самых аван...,овен,общее,1,5,1,12,5
3,You will hear something amazing today but can ...,2013-01-12,aries,general,"Сегодня вы услышите нечто удивительное, но мо...",овен,общее,1,5,1,12,5
4,A friend or colleague you have not seen for a ...,2013-01-12,aries,general,"Друг или коллега, которого вы давно не видели,...",овен,общее,1,5,1,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...
34916,Celebrate in style on your birthday in prepara...,2021-01-12,pisces,birthday,"Стильно отпразднуйте свой день рождения, чтобы...",рыбы,др,1,1,1,12,1
34917,Imagine your life as if it was exactly the way...,2021-01-13,pisces,birthday,"Представьте свою жизнь так, как если бы она бы...",рыбы,др,1,2,1,13,2
34918,"Fun, playfulness, and humor are easy to manife...",2021-01-14,pisces,birthday,"Веселье, игривость и юмор легко проявятся в эт...",рыбы,др,1,3,1,14,3
34919,"Your birthday brings you a fresh start, as you...",2021-01-15,pisces,birthday,"Ваш день рождения дает вам новое начало, когда...",рыбы,др,1,4,1,15,4
34920,You will probably enjoy being the center of at...,2021-01-16,pisces,birthday,"Вам, вероятно, понравится быть в центре вниман...",рыбы,др,1,5,1,16,5

In [45]:
vars = ["category_ru",
    "sing_ru",
    "date",
    "month",
    "day",
    "weekday",
    "text_ru"]

dataset = df[vars]

dataset

,category_ru,sing_ru,date,month,day,weekday,text_ru
0,общее,овен,2013-01-12,1,12,5,"Вы не из тех, кто перестраховывается, и даже ..."
1,общее,овен,2013-01-12,1,12,5,"Не бывает чего-то даром, и если вы не совсем ..."
2,общее,овен,2013-01-12,1,12,5,Когда новолуние попадает в одну из самых аван...
3,общее,овен,2013-01-12,1,12,5,"Сегодня вы услышите нечто удивительное, но мо..."
4,общее,овен,2013-01-12,1,12,5,"Друг или коллега, которого вы давно не видели,..."
...,...,...,...,...,...,...,...
34916,др,рыбы,2021-01-12,1,12,1,"Стильно отпразднуйте свой день рождения, чтобы..."
34917,др,рыбы,2021-01-13,1,13,2,"Представьте свою жизнь так, как если бы она бы..."
34918,др,рыбы,2021-01-14,1,14,3,"Веселье, игривость и юмор легко проявятся в эт..."
34919,др,рыбы,2021-01-15,1,15,4,"Ваш день рождения дает вам новое начало, когда..."
34920,др,рыбы,2021-01-16,1,16,5,"Вам, вероятно, понравится быть в центре вниман..."

In [48]:
dataset.to_csv('data/dataset.csv', sep='\t', index=False)